// _mixins.scss

@mixin from-breakpoint($point) {
    @if $point == 'small' {
        @media (min-width: 600 / 16 * 1em) { @content; }
    }
    @else if $point == 'medium' {
        @media (min-width: 800 / 16 * 1em) { @content; }
    }
    @else if $point == 'large' {
        @media (min-width: 1000 / 16 * 1em) { @content; }
    }
}

@mixin font-size($size, $line-height: $size) {
    font-size: $size * 1px;
    font-size: ($size / 10) * 1rem;
    line-height: $line-height * 1px;
    line-height: ($line-height / 10) * 1rem;
}

@mixin font($family, $weight, $size, $line-height: $size) {
    font-family: $family;
    font-weight: $weight;
    @include font-size($size, $line-height);
}
